---
extends: default

ignore: |
  charts/*
  chart-fix/*

rules:
  line-length: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 2
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 2
  indentation:
    spaces: consistent
    indent-sequences: whatever
  comments-indentation: disable
