{{- if and .Values.persistentVolume.external (default true .Values.persistentVolume.storageClass.create) }}
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ include "kubeit-rabbit-chart.storageClassName" . }}
provisioner: file.csi.azure.com
parameters:
  skuName: {{ .Values.persistentVolume.skuName }}
  secretName: {{ required "persistentVolume.storageAccountSecret.name is required when persistentVolume.external=true" .Values.persistentVolume.storageAccountSecret.name }}
  secretNamespace: {{ default .Release.Namespace .Values.persistentVolume.storageAccountSecret.namespace }}
  {{- if .Values.persistentVolume.csi.volumeAttributes.shareName }}
  shareName: {{ .Values.persistentVolume.csi.volumeAttributes.shareName }}
  {{- else }}
  shareNamePrefix: {{ include "kubeit-rabbit-chart.shareNamePrefix" . }}
  {{- end }}
mountOptions:
{{- range .Values.persistentVolume.mountOptions }}
  - {{ . }}
{{- end }}
reclaimPolicy: Retain
volumeBindingMode: Immediate
allowVolumeExpansion: true
{{- end }}
