{{ define "bootstrap.application" }}
{{- $values := . -}}
{{- $targetEnv := .env -}}
{{- $targetRegion := .shortRegion -}}
{{- $targetColour := .clusterColour -}}
{{- if hasKey $values $targetEnv }}
{{- $logicalEnvs := index $values $targetEnv -}}
{{- range $logicalEnv := $logicalEnvs }}
{{- $logicalEnvName := $logicalEnv.name -}}
{{- $region := index $logicalEnv "shortRegion" -}}
{{- $color := index $logicalEnv "clusterColour" -}}
{{- $type := index $logicalEnv "type" -}}
{{- $targetNamespace := index $logicalEnv "namespace" -}}
{{- if eq $region $targetRegion }}
{{- if eq $color $targetColour }}
{{- $appName := printf "%s-%s" $values.tenantName $logicalEnvName | trunc 63 | trimSuffix "-" -}}
{{- $repoURL := $values.bootstrap.appLogicalEnvChart.repoURL -}}
{{- $chartName := $values.bootstrap.appLogicalEnvChart.chart -}}
{{- $targetRevision := $values.bootstrap.appLogicalEnvChart.targetRevision -}}
{{- $overRideChart := index $values "appLogicalEnvChart" -}}
{{- if $overRideChart -}}
{{- $repoURL = $values.appLogicalEnvChart.repoURL -}}
{{- $chartName =  $values.appLogicalEnvChart.chart -}}
{{- $targetRevision = $values.appLogicalEnvChart.targetRevision -}}
{{- end -}}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $appName }}
  namespace: {{ $values.managementNamespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: "{{ $values.tenantName }}"
  destination:
    namespace: {{ $values.managementNamespace }}
    server: https://kubernetes.default.svc
  sources:
    {{- if ne $type "manifest" }}
    - repoURL: {{ $repoURL }}
      chart: {{ $chartName }}
      targetRevision: {{ $targetRevision }}
      helm:
        valueFiles:
         - $values/{{ $targetEnv }}/{{ $logicalEnvName }}/_apps.yaml
        ignoreMissingValueFiles: true
        values: |
          env: {{ $values.env }}
          region: {{ $values.region }}
          dnsDomain: {{ $values.dnsDomain }}
          internalDnsDomain: {{ $values.internalDnsDomain }}
          clusterSubdomain: {{ $values.clusterSubdomain }}
          clusterColour: {{ $values.clusterColour }}
          ingressType: {{ $values.ingressType }}
          shortRegion: {{ $values.shortRegion }}
          tenantName: {{ $values.tenantName }}
          targetRevision: {{ $values.targetRevision }}
          repoURL: {{ $values.repoURL }}
          managementNamespace: {{ $values.managementNamespace }}
          logicalEnvName: {{ $logicalEnvName }}
    - repoURL: {{ $values.repoURL }}
      targetRevision: {{ $values.targetRevision }}
      ref: values
    {{- else }}
    - repoURL: {{ $values.repoURL }}
      targetRevision: {{ $values.targetRevision }}
      path: {{ $targetEnv }}/{{ $logicalEnvName }}
  destination:
    server: https://kubernetes.default.svc
    {{- if $targetNamespace }}
    namespace: {{ $targetNamespace }}
    {{- else }}
    namespace: {{ $values.managementNamespace }}
    {{- end }}
    {{- end }}
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
      allowEmpty: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m
      limit: 2
    syncOptions:
    - Validate=true
    - CreateNamespace=false
    - PrunePropagationPolicy=foreground
    - PruneLast=true
---
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
